{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <!-- Background Image (Customizable) -->
    <div class="bg-image" id="bgImage"></div>

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    {% if form.errors %}
        <p style="color:red;">Invalid username or password.</p>
    {% endif %}

    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
</body>
</html>